header {
    background-color: #fff; 
    height: 70px; 
    width: 100%;
    border-bottom: 1px solid #ccc;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: 20px 5px;
}
