*, body {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    color: #484848;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    max-width: 1000px;
    margin: 30px auto;
}

.btn {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #fff;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
}
