.container .filters {
    background-color: #fff;
    height: 70px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-search {
    margin-left: auto;
    margin-right: 30px;
}

.btn-search:hover {
    opacity: 0.9;
}

.locations, .amenities {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 25px;
}
.locations {
    border-right: 1px solid #ddd;
}

.filters h3 {
    font-weight: 600;
}
.filters h4 {
    font-weight: 400;
    font-size: 14px;
}

