.container .filters {
    background-color: #fff;
    height: 70px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-search {
    margin-left: auto;
    margin-right: 30px;
}

.btn-search:hover {
    opacity: 0.9;
}

.locations, .amenities {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 25px;
    position: relative;
}
.locations {
    border-right: 1px solid #ddd;
    
}

.filters h3 {
    font-weight: 600;
}
.filters h4 {
    font-weight: 400;
    font-size: 14px;
}

.popover {
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    position: absolute; 
    top: 100%;
    left: 0;
    padding: 25px;
    display: none;
}
.popover h2 {
    font-size: 16px;
}

.popover li {
    list-style-type: none;
}
.popover ul {
    padding-left: 15px;
}
.popover ul li:last-child {
    margin-bottom: 10px;
}
.locations:hover .popover, .amenities:hover .popover {
    display: block;
}
