.places {
    margin-top: 30px;
}
.places h1 {
    text-align: left;
    font-size: 30px;
}

.places div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ff5a5f;
    border-radius: 4px;
    box-sizing: border-box;
}

.places article h2 {
    font-size: 30px;
    text-align: center;
}

/* 
Adding information to places
*/
.places article .price_by_night {
    color: #ff5a5f;
    border: 4px solid #ff5a5f;
    border-radius: 50%;
    
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -60px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.information {
    clear: both;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-top: 5px;
    padding-bottom: 5px;
}

.information .max_guest, .number_rooms, .number_bathrooms {
    width: 100px;
}

.user {
    margin-top: 10px;
    margin-bottom: 10px;
}

.description {
    line-height: 15px;
    letter-spacing: .5px;
}
